/* LAYOUT  */

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 25px!important;
    padding-left: 25px!important;
}

/* END LAYOUT */

/* BANNER SECTION */

@media only screen and (max-width: 480px){
    .about_me_text h1 {
        font-size: 25px!important;
    }

    .about_me_text a{
        font-size: 16px!important;
    }
}

/* END BANNER SECTION */

/* ABOUT SECTION */

@media only screen and (min-width: 576px) {
    .about_us_area .image_right_container{
        float: right;
    }

    .about_us_area .image_right_container {
        margin-top: 4em;
    }
    
}

@media only screen and (max-width:576px){
    .about_us_area .image_right_container {
        margin-bottom: 3em;
    }
}

.about_us_area .about_personal_info.pt-0 {
    padding-top: 0px!important;
}

.about_us_area .about_image_profile img {
    border-radius: 100%;
}

/* END ABOUT SECTION */

/* SKILLS SECTION */
.skill_bar_inner_box .skill_bars .bar {
    border: none!important;
}

.skill_area .skill_bar_inner_box .skill_bars .bar .bar-inner:after {
    top: -10px!important;
}

.skill_area .skill_bar_inner_box .skill_bars .bar .bar-inner:before{
    content: none!important;
}

/* END SKILLS SECTION */