/********************************************************
    Template Name: Maheer - Portfolio Template
    Created By: Webdgallery
    Envato Profile: https://themeforest.net/user/webdgallery
    Website: https://www.webdgallery.com
    Version: 1.0
    Support: https://themeforest.net/user/webdgallery
*********************************************************/

/* 
=======================	
Table Of Content
=======================
	1. Reset Code
	2. Header
        2.1 Header Logo
        2.2 Header Menu
    3. Slider
        3.1 FUll Width Slider
        3.2 Normal Slider
        3.3 Nevo Slider
        3.4 Video Background SLider
    4. Hero Image
    5. Service Area & Skill Bar area
    6. Skill Bar area
    7. Portfolio Area
    8. Service Area
    9. Video Area
    10. Testimonial Area
    11. Blog Area
        11.1 Blog Page
        11.2 Blog Sidebar
    12. Srart Project Area
    13. Footer
    14. Page Loader
    15. Custom Animation
    16. Responsive Stylesheet
*/

/*================== 
    1. Reset Code
  ==================*/
.body-font,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}
/* Transition style */
.transition-all,
.btn-border:hover,
.btn-darkgray:hover,
.site-header.navbar-fixed-top.affix-top,
header.site-header.navbar-fixed-top.affix,
.site-header .navbar ul.navbar-nav li:hover a:after,
.slider_area .owl-dots .owl-dot,
.slider_area .owl-dots .owl-dot.active,
.slider_area .owl-dots .owl-dot:hover,
.slider_area .owl-nav>div,
.slider_area .nivo-slider-wrapper .nivo-directionNav a,
.slider_area .nivo-slider-wrapper .nivo-controlNav .nivo-control,
.slider_area .nivo-slider-wrapper .nivo-controlNav .nivo-control.active,
.portfolio_items .portfolio_tile .portfolio_overlay .project_name,
.blog-post:hover,
.contact_info_box .contact_info,
.contact_info_box .contact_info:hover,
.footer_social_box li,
.footer_social_box li:hover,
.commentsBox .comment-respond .comment-form .form-submit .btn {
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}
::-webkit-selection {
    color: #fff;
    text-shadow: none;
    background: #303030;
}
::-moz-selection {
    color: #fff;
    text-shadow: none;
    background: #303030;
}
::selection {
    color: #fff;
    text-shadow: none;
    background: #303030;
}
img::-moz-selection {
    color: #fff;
    background: transparent;
}
img::-webkit-selection {
    color: #fff;
    background: transparent;
}
img::selection {
    color: #fff;
    background: transparent;
}
img::-moz-selection {
    color: #fff;
    background: transparent;
}
img::-webite-selection {
    color: #fff;
    background: transparent;
}
body {
    font-weight: 400;
    font-size: 14px;
    -webkit-tap-highlight-color: #303030;
    -moz-tap-highlight-color: #303030;
    -ms-tap-highlight-color: #303030;
    -o-tap-highlight-color: #303030;
    -tap-highlight-color: #303030;
}
a {
    color: inherit;
}
a:hover {
    color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}
h1>a,
h2>a,
h3>a,
h4>a,
h5>a,
h6>a {
    color: inherit;
}
img {
    max-width: 100%;
    height: auto;
}
section {
    display: block;
    overflow: hidden;
    width: 100%;
    padding: 100px 0;
}
.padding_top_100 {
    padding-top: 100px;
}
.margin_top_0 {
    margin-top: 0;
}
.section_title p {
    margin: 0;
    letter-spacing: 2px;
}
.section_title h2 {
    margin-top: 10px;
    margin-bottom: 12px;
}
.section_title img {
    display: block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.btn-border {
    border-width: 1px;
    font-size: 14px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 0;
}
.btn-border:hover {
    background-image: none;
}
.btn-darkgray {
    border-width: 1px;
    font-size: 14px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 0;
}
.btn-darkgray:hover {
    background-image: none;
}
.form-control:focus {
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(96, 96, 96, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(96, 96, 96, 0.6);
}
.parallax_bg {
    background: transparent;
    min-height: 650px;
}
/*================== 
    2. Header
  ==================*/
/* 2.1 Header Logo
  -------------------------*/
.site-header.navbar-fixed-top.affix-top {
    padding-top: 60px;
    padding-bottom: 20px;
}
header.site-header.navbar-fixed-top.affix {
    padding-top: 10px;
}
.logo_whtie {
    display: none;
}
.blog .site-header.navbar-fixed-top.affix-top {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 40px;
    padding-top: 40px;
}
.white_header_text.site-header .logo_dark {
    display: none;
}
.white_header_text.affix.site-header .logo_whtie {
    display: none;
}
.white_header_text.affix.site-header .logo_dark {
    display: block;
}
/* 2.2 Header Menu
  -------------------------*/
.site-header {
    width: 100%;
    display: block;
}
.site-header .navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.site-header .navbar .navbar-header a.navbar-brand {
    padding: 0;
}
.site-header .navbar ul.navbar-nav li a {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
.site-header .navbar ul.navbar-nav li a:after {
    content: '';
    display: block;
    overflow: hidden;
    height: 2px;
    width: 18px;
    background-color: transparent;
    margin: 10px auto 0;
}
.site-header .navbar ul.navbar-nav li a:hover,
.site-header .navbar ul.navbar-nav li a:focus {
    background-color: transparent;
}
.site-header .navbar ul.navbar-nav li:hover a:after {
    width: 100%;
}
/*========================== 
    3. Slider
==========================*/
/* 3.1 FUll Width Slider
  -----------------------------*/
.slider_area {
    padding: 0;
    position: relative;
}
.slider_area .home_slider:hover .owl-nav>div {
    width: 120px;
}
.slider_area .home_slider:hover .owl-nav>div:hover {
    opacity: 1;
}
.slider_area .home_slider .owl-stage-outer {
    width: 100%;
    height: 100%;
}
.slider_area .home_slider .owl-stage-outer .owl-stage {
    width: 100%;
    height: 100%;
}
.slider_area .home_slider .owl-stage-outer .owl-stage .owl-item {
    width: 100%;
    height: 100%;
}
.slider_area .home_slider .slingle_home_slider {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.slider_area .home_slider .slingle_home_slider img {
    display: none;
}
.slider_area .home_slider .slingle_home_slider .slider_area_inner {
    background-color: rgba(0, 0, 0, 0.73);
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 20%;
}
.slider_area .home_slider .slingle_home_slider .slider_area_inner h2 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 2%;
}
.slider_area .home_slider .slingle_home_slider .slider_area_inner h1 {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 3%;
}
.slider_area .home_slider .slingle_home_slider .slider_area_inner p {
    font-size: 16px;
    margin-bottom: 4%;
}
.slider_area .owl-dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
}
.slider_area .owl-dots .owl-dot {
    display: inline-block;
    width: 32px;
    height: 5px;
    margin: 20px 8px;
}
.slider_area .owl-nav {
    left: 0;
    position: absolute;
    right: 0;
    top: calc(50vh - 30px);
    width: 100%;
    z-index: 111;
}
.slider_area .owl-nav>div {
    opacity: 0.6;
    width: 40px;
    z-index: 111;
    display: block;
    height: 80px;
    overflow: hidden;
    z-index: 111;
    cursor: pointer;
    background-size: 100% auto;
    position: relative;
    text-align: center;
}
.slider_area .owl-nav>div:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.slider_area .owl-nav>div .fa {
    display: block;
    font-size: 56px;
    height: 100%;
    overflow: hidden;
    line-height: 78px;
    width: 100%;
    position: absolute;
    z-index: 111;
    left: 0;
    right: 0;
}
.slider_area .owl-next {
    float: right;
}
.slider_area .owl-prev {
    float: left;
}
/* 3.2 Normal Slider 
  -----------------------------*/
.slider_area .hero_image_section,
.slider_area .home_slider_normal {
    max-height: 650px;
}
.slider_area .home_slider_normal:hover .owl-nav>div {
    width: 120px;
}
.slider_area .home_slider_normal:hover .owl-nav>div:hover {
    opacity: 1;
}
.slider_area .hero_image_section .owl-nav,
.slider_area .home_slider_normal .owl-nav {
    top: 44%;
}
.slider_area .hero_image_section .owl-stage-outer,
.slider_area .home_slider_normal .owl-stage-outer {
    width: 100%;
    height: 100%;
}
.slider_area .hero_image_section .owl-stage-outer .owl-stage,
.slider_area .home_slider_normal .owl-stage-outer .owl-stage {
    width: 100%;
    height: 100%;
}
.slider_area .hero_image_section .owl-stage-outer .owl-stage .owl-item,
.slider_area .home_slider_normal .owl-stage-outer .owl-stage .owl-item {
    width: 100%;
    height: 100%;
}
.slider_area .hero_image_section .slingle_normal_home_slider .slider_area_inner,
.slider_area .home_slider_normal .slingle_normal_home_slider .slider_area_inner {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.73);
    top: 0;
    padding-top: 270px;
}
.slider_area .hero_image_section .slingle_normal_home_slider .slider_area_inner h2,
.slider_area .home_slider_normal .slingle_normal_home_slider .slider_area_inner h2 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 2%;
}
.slider_area .hero_image_section .slingle_normal_home_slider .slider_area_inner h1,
.slider_area .home_slider_normal .slingle_normal_home_slider .slider_area_inner h1 {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 3%;
}
.slider_area .hero_image_section .slingle_normal_home_slider .slider_area_inner p,
.slider_area .home_slider_normal .slingle_normal_home_slider .slider_area_inner p {
    font-size: 16px;
    margin-bottom: 4%;
}
/* 3.3 Nevo Slider
  -----------------------------*/
.slider_area .nivo-slider-wrapper {
    width: 100%;
    height: auto;
}
.slider_area .nivo-slider-wrapper .nivo-caption {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    padding-top: 16vw;
    width: 100%;
    height: 100%;
}
.slider_area .nivo-slider-wrapper .nivo-caption h2 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 1.4%;
}
.slider_area .nivo-slider-wrapper .nivo-caption h1 {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 2%;
}
.slider_area .nivo-slider-wrapper .nivo-caption p {
    font-size: 16px;
    margin-bottom: 3%;
}
.slider_area .nivo-slider-wrapper .nivo-directionNav a {
    background-color: transparent;
    border: 2px solid;
    font-size: 26px;
    height: 40px;
    text-align: center;
    width: 40px;
}
.slider_area .nivo-slider-wrapper .nivo-directionNav a:hover {
    opacity: 1;
}
.slider_area .nivo-slider-wrapper .nivo-directionNav .nivo-prevNav {
    left: 50px;
    opacity: 0.4;
}
.slider_area .nivo-slider-wrapper .nivo-directionNav .nivo-nextNav {
    right: 50px;
    opacity: 0.4;
}
.slider_area .nivo-slider-wrapper .nivo-controlNav {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 111;
}
.slider_area .nivo-slider-wrapper .nivo-controlNav .nivo-control {
    text-indent: -9999px;
    display: inline-block;
    width: 32px;
    height: 5px;
    margin: 20px 8px;
}
/* 3.4 Video Background SLider
  --------------------------------*/
.slider_area.header_video_player {
    height: 100vh;
    width: 100%;
}
.slider_area.header_video_player .hero_image_section {
    height: 100vh;
    width: 100%;
}
.slider_area.header_video_player .hero_image_section .slider_area_inner {
    height: 100vh;
    width: 100%;
}
.slider_area .home_slider_normal.small_hader_slider_text .slingle_normal_home_slider .slider_area_inner {
    padding-top: 170px;
}
.slider_area .home_slider_normal .owl-stage-outer .owl-stage .owl-item {
    display: block;
    overflow: hidden;
}
/*========================== 
    4. Hero Image
==========================*/
.about_me_feature_area {
    padding-top: 146px;
}
.about_me_feature_area>.container>.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: nowrap;
    flex-flow: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.about_me_feature_area .about_me_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}
.about_me_feature_area .about_me_text h3 {
    font-size: 22px;
    margin-bottom: 10px;
}
.about_me_feature_area .about_me_text h1 {
    font-size: 46px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
}
.about_me_feature_area .about_me_text p {
    font-size: 16px;
    font-weight: 200;
    line-height: 1.8;
    margin-bottom: 30px;
}
.about_me_feature_area .about_me_text .btn-border {
    border-radius: 0;
    font-size: 20px;
    border-left: 2px solid;
    border-right: none;
    border-top: none;
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 500;
    padding-left: 10px;
}
.about_me_feature_area .about_me_images {
    display: block;
    overflow: hidden;
    width: 100%;
}
.about_me_feature_area .about_me_images img {
    max-width: 100%;
    height: auto;
    float: right;
}
.slider_area.about_me_feature_area.parallax_bg:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}
.slider_area.about_me_feature_area.parallax_bg .about_me_text {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 500px;
}
.slider_area.about_me_feature_area.parallax_bg.partical_box:after {
    background-color: rgba(0, 0, 0, 0.6);
}
.slider_area.about_me_feature_area.parallax_bg.partical_box {
    padding-top: 0;
}
.slider_area.about_me_feature_area.parallax_bg.partical_box div#particles-js {
    z-index: 123;
    top: 0;
}
.slider_area.about_me_feature_area.parallax_bg.partical_box .about_me_text {
    min-height: 800px;
}
.slider_area.about_me_feature_area.parallax_bg.partical_box .about_me_text h1 {
    font-size: 80px;
}
.slider_area.about_me_feature_area.parallax_bg.partical_box .about_me_text h1,
.slider_area.about_me_feature_area.parallax_bg.partical_box .about_me_text h2,
.slider_area.about_me_feature_area.parallax_bg.partical_box .about_me_text h3,
.slider_area.about_me_feature_area.parallax_bg.partical_box .about_me_text h4,
.slider_area.about_me_feature_area.parallax_bg.partical_box .about_me_text h5,
.slider_area.about_me_feature_area.parallax_bg.partical_box .about_me_text h6,
.slider_area.about_me_feature_area.parallax_bg.partical_box .about_me_text a,
.slider_area.about_me_feature_area.parallax_bg.partical_box .about_me_text p {
    position: relative;
    z-index: 124;
}
.about_us_area .about_content_inner h5 {
    margin-bottom: 12px;
}
.about_us_area .about_content_inner h2 {
    margin-top: 0;
    margin-bottom: 30px;
}
.about_us_area .about_content_inner p {
    font-weight: 200;
    margin-bottom: 30px;
}
.about_us_area .about_content_btn_area {
    width: 100%;
    display: block;
    overflow: hidden;
}
.about_us_area .about_content_btn_area .btn {
    margin-right: 20px;
}
.about_us_area .about_content_btn_area .btn:last-child {
    margin-right: 0;
}
.about_us_area .about_personal_info {
    padding-top: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
.about_us_area .about_personal_info h4 {
    margin-bottom: 10px;
    width: 100%;
}
.about_us_area .about_personal_info ul {
    margin: 0;
    padding: 0;
    width: 50%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.about_us_area .about_personal_info ul li {
    list-style: none;
    line-height: 2.2;
    font-weight: 200;
}
.about_us_area .about_personal_info ul li span {
    font-weight: 400;
}
#particles-js {
    width: 100%;
    height: 100%;
}
.div_absulate {
    position: absolute;
    left: 0;
    right: 0;
    top: 180px;
}
/*============================================== 
    5. Service Area & Skill Bar area
=================================================*/
.services_area.skill_area .skill_bar_inner_box {
    padding-top: 30px;
}
.services_area.skill_area .skill_bar_inner_box .skill_bars {
    width: 50%;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 30px;
}
.services_area.skill_area .skill_bar_inner_box .skill_bars .bar {
    margin-bottom: 0;
}
/*============================================== 
    6. Skill Bar area
=================================================*/
.skill_area .skill_bar_inner_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.skill_area .skill_bar_inner_box .skill_bars {
    width: 30%;
    margin: 20px 0 0;
}
.skill_area .skill_bar_inner_box .skill_bars .bar {
    width: 100%;
    height: 14px;
    margin-bottom: 40px;
    border-width: 1px;
    border-style: solid;
}
.skill_area .skill_bar_inner_box .skill_bars .bar .bar-inner {
    width: 0%;
    height: 100%;
    position: relative;
    -webkit-transition: width 3000ms linear;
    transition: width 3000ms linear;
    z-index: 111;
    top: -1px;
    min-height: 14px;
}
.skill_area .skill_bar_inner_box .skill_bars .bar .bar-inner:after {
    position: absolute;
    right: -18px;
    content: attr(data-percent);
    font-size: 10.4px;
    font-weight: 200;
    top: -46px;
    border-radius: 10px;
    width: 34px;
    height: 34px;
    line-height: 3.5;
    text-align: center;
    border-radius: 100%;
}
.skill_area .skill_bar_inner_box .skill_bars .bar .bar-inner:before {
    @extedn .lighter-gray-bor;
    border-width: 1px;
    border-style: solid;
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: auto;
    right: -5px;
    z-index: 1;
    top: -18px;
}
.my_experience_boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    width: 100%;
}
.my_experience_boxes .my_experience {
    width: 30%;
    margin-top: 30px;
    min-width: 320px;
    padding-top: 30px;
}
.my_experience_boxes .my_experience h4 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.my_experience_boxes .my_experience h5 {
    font-weight: 400;
    margin-bottom: 14px;
}
.my_experience_boxes .my_experience p {
    font-weight: 200;
}

/*============================================== 
    7. Portfolio Area
=================================================*/
.portfolio_filter {
    margin: 40px auto 30px;
    padding: 0;
    text-align: center;
}
.portfolio_filter li {
    border-width: 2px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: transparent;
    display: inline-block;
    cursor: pointer;
    margin: 0 10px;
    padding: 10px;
}
.portfolio_items .portfolio_tile {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 10px;
    padding: 0;
    width: calc(33.3334% - 20px);
}
.portfolio_items .portfolio_tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
}
.portfolio_items .portfolio_tile .portfolio_overlay {
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    font-size: 1em;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: 3.75em 3em;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 0;
    right: 0;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: scale(2);
    transform: scale(2);
}
.portfolio_items .portfolio_tile .portfolio_overlay .project_name {
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: calc(100% - 70px);
    right: 0;
    text-align: left;
    opacity: 0;
}
.portfolio_items .portfolio_tile .portfolio_overlay:hover,
.portfolio_items .portfolio_tile .portfolio_overlay:hover .project_name {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.portfolio_items .portfolio_tile .portfolio_overlay:after,
.portfolio_items .portfolio_tile .portfolio_overlay:before {
    border-width: 1px;
    border-style: solid;
    bottom: 1em;
    content: '';
    left: 1em;
    opacity: 0;
    position: absolute;
    right: 1em;
    top: 1em;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: 0.6s 0.2s;
    transition: 0.6s 0.2s;
}
.portfolio_items .portfolio_tile .portfolio_overlay:before {
    border-bottom: none;
    border-top: none;
    left: 2em;
    right: 2em;
}
.portfolio_items .portfolio_tile .portfolio_overlay:after {
    border-left: none;
    border-right: none;
    bottom: 2em;
    top: 2em;
}
.portfolio_items .portfolio_tile .portfolio_overlay:hover:after,
.portfolio_items .portfolio_tile .portfolio_overlay:hover:before {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
/*============================================== 
    8. Service Area
=================================================*/
.services_boxes {
    display: block;
    overflow: hidden;
    width: 100%;
}
.services_boxes .my_service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 33%;
    float: left;
    margin-top: 60px;
}
.services_boxes .my_service>a>.fa,
.services_boxes .my_service>.fa {
    min-width: 36px;
    min-height: 36px;
    max-width: 36px;
    max-height: 36px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    text-align: center;
    line-height: 2.5;
}
.services_boxes .my_service .service_detail {
    margin-left: 16px;
    width: 90%;
    width: calc(100% - 42px);
    padding-right: 10px;
}
.services_boxes .my_service .service_detail a {
    color: inherit;
}
.services_boxes .my_service .service_detail h4 {
    margin: 0;
    font-size: 20px;
    margin-bottom: 15px;
}
/*============================================== 
    9. Video Area
=================================================*/
.popup_video_box {
    display: block;
    overflow: hidden;
    margin-top: 50px;
}
.popup_video_box .popup-video {
    position: relative;
    max-width: 685px;
    margin: 0 auto;
}
.popup_video_box .popup-video img {
    max-width: 100%;
}
.popup_video_box .popup-video .video_play_btn {
    background-image: url(../img/video_play_btn.png);
    width: 68px;
    height: 68px;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}
/*============================================== 
    10. Testimonial Area
=================================================*/
.testimonial_slider {
    margin-top: 50px;
}
.testimonial_slider .owl-nav {
    display: none;
}
.testimonial_slider .owl-dots {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 40px auto 10px;
    text-align: center;
}
.testimonial_slider .owl-dots .owl-dot {
    width: 22px;
    height: 3px;
    display: inline-block;
    margin: 0 6px;
}
.testimonial_slider .testimonial_slider_item {
    position: relative;
    width: 100%;
}
.testimonial_slider .testimonial_slider_item .test_content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 150px;
    padding: 30px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: center;
    align-content: center;
    width: calc(100% - 40px);
}
.testimonial_slider .testimonial_slider_item .test_content p {
    font-weight: 300;
    line-height: 1.8;
    margin-bottom: 0;
}
.testimonial_slider .testimonial_slider_item .test_content .fa {
    bottom: -5px;
    color: #dbd9d9;
    display: inline-block;
    font-size: 26px;
    line-height: 0;
    margin-left: 20px;
    position: relative;
}
.testimonial_slider .testimonial_slider_item .test_title_image {
    display: block;
    min-height: 56px;
    overflow: hidden;
    width: 100%;
}
.testimonial_slider .testimonial_slider_item .test_title_image .test_title {
    bottom: 0;
    position: absolute;
    right: 110px;
}
.testimonial_slider .testimonial_slider_item .test_title_image .test_image {
    border-width: 1px;
    border-style: solid;
    bottom: 8px;
    float: right;
    height: 86px;
    position: absolute;
    right: 8px;
    width: 86px;
}
.testimonial_slider .testimonial_slider_item .test_title_image .test_image img {
    max-width: 100%;
    height: 100%;
}
.testimonial_slider .testimonial_slider_item .test_title_image .test_image:before {
    border-width: 1px;
    border-style: solid;
    bottom: -8px;
    content: "";
    height: 65px;
    position: absolute;
    right: -8px;
    width: 65px;
    z-index: -1;
}
/*============================================== 
    11. Blog Area
=================================================*/
.blog-post {
    background-color: #f1f1f1;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    margin-top: 50px;
}
.blog-post a {
    display: block;
    overflow: hidden;
    width: 100%;
}
.blog-post a img {
    max-width: 100%;
    height: auto;
}
.blog-post .blog_post_content {
    display: block;
    overflow: hidden;
    width: 100%;
    padding: 25px;
}
.blog-post .blog_post_content h4 {
    margin-top: 0;
    margin-bottom: 20px;
}
.blog-post .blog_post_content p {
    font-weight: 300;
}
.blog-post .blog_post_meta {
    display: block;
    overflow: hidden;
    width: 100%;
    border-top-style: solid;
    border-top-width: 1px;
    padding: 12px 25px;
}
.blog-post .blog_post_meta .meta_author,
.blog-post .blog_post_meta .meta_date {
    width: calc(50% - 30px);
    float: left;
}
.blog-post .blog_post_meta .meta_date {
    text-align: right;
}
.blog-post .blog_post_meta .btn {
    width: 60px;
    padding: 0 0;
    float: left;
    border-radius: 30px;
}
.blog-post:hover .blog_post_meta .btn:hover {
    background-color: #f1f1f1;
}
.col-xs-12.col-sm-3 .blog-post .blog_post_content,
.col-xs-12.col-sm-4.col-md-3 .blog-post .blog_post_content {
    padding: 16px;
}
.col-xs-12.col-sm-3 .blog-post .blog_post_meta,
.col-xs-12.col-sm-4.col-md-3 .blog-post .blog_post_meta {
    padding: 12px 16px;
}
.col-xs-12.col-sm-3 .blog-post .blog_post_meta .meta_author,
.col-xs-12.col-sm-3 .blog-post .blog_post_meta .meta_date,
.col-xs-12.col-sm-4.col-md-3 .blog-post .blog_post_meta .meta_author,
.col-xs-12.col-sm-4.col-md-3 .blog-post .blog_post_meta .meta_date {
    font-size: 10px;
    margin-top: 5px;
}
.col-xs-12.col-sm-9 .col-xs-12.col-sm-6 .blog-post {
    margin-top: 0;
    margin-bottom: 50px;
}
.col-xs-12.col-sm-6 .col-xs-12.col-sm-12.col-md-6 .blog-post {
    margin-top: 0;
    margin-bottom: 50px;
}
.col-xs-12.col-sm-9 .col-xs-12.col-sm-6.col-md-4 {
    padding-left: 10px;
    padding-right: 10px;
}
.col-xs-12.col-sm-9 .col-xs-12.col-sm-6.col-md-4 .blog-post {
    margin-top: 0;
    margin-bottom: 50px;
}
.col-xs-12.col-sm-9 .col-xs-12.col-sm-6.col-md-4 .blog-post .blog_post_content {
    padding: 16px;
}
.col-xs-12.col-sm-9 .col-xs-12.col-sm-6.col-md-4 .blog-post .blog_post_meta {
    padding: 12px 16px;
}
.col-xs-12.col-sm-9 .col-xs-12.col-sm-6.col-md-4 .blog-post .blog_post_meta .meta_author,
.col-xs-12.col-sm-9 .col-xs-12.col-sm-6.col-md-4 .blog-post .blog_post_meta .meta_date {
    font-size: 10px;
    margin-top: 5px;
}
/* 11.1 Blog Page
-------------------------*/
.page_title_area {
    padding: 240px 0 80px;
    display: block;
    overflow: hidden;
    width: 100%;
}
.page_title_area .page_title {
    font-size: 48px;
}
.page_title_area .breadcrumb {
    background-color: transparent;
}
.page_title_area .breadcrumb li {
    text-transform: uppercase;
}
.blog_area.blogpage_area {
    padding: 0px 0 80px;
}
.blog_area.blogpage_area .blog_item {
    margin-bottom: 50px;
}
.blog_area.blogpage_area .blog_item .blog_item_detail h4 {
    margin-bottom: 10px;
}
.blog_area.blogpage_area .blog_item .blog_item_detail p {
    margin-bottom: 10px;
}
.blog_area.blogpage_area .blog_item.blog_list_item .blog_item_image {
    float: left;
    max-width: 350px;
    width: 100%;
}
.blog_area.blogpage_area .blog_item.blog_list_item .blog_item_detail {
    display: block;
    float: left;
    margin-left: 30px;
    overflow: hidden;
    width: calc(100% - 380px);
}
.blog_area.blogpage_area .blog_item.blog_list_item .blog_item_detail h4 {
    margin-top: 0;
}
.blog_area.blogpage_area .blog_item.blog_posts_page .blog_item_detail {
    font-weight: 300;
}
.blog_area.blogpage_area .blog_item.blog_posts_page .blog_item_detail p {
    margin-bottom: 30px;
}
.blog_area.blogpage_area .blog_item.blog_posts_page .blog_item_detail blockquote {
    border-left-width: 7px;
    border-left-style: solid;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    padding: 30px 26px 30px 40px;
    margin-bottom: 30px;
}
.blog_area.blogpage_area .blog_item.blog_posts_page .blog_item_detail .blog_post_title {
    font-size: 24px;
    text-decoration: none;
    margin-top: 50px;
    margin-bottom: 30px;
}
.blog_area.blogpage_area .blog_item.blog_posts_page .blog_item_detail .blog_post_title:hover a {
    text-decoration: none;
}
.blog_area.blogpage_area .blog_item.blog_posts_page .blog_item_meta.blog_post_meta>ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
}
.blog_area.blogpage_area .blog_item.blog_posts_page .blog_item_meta.blog_post_meta>ul li {
    list-style: none;
    margin-right: 60px;
}
.blog_area.blogpage_area .blog_item.blog_posts_page .blog_item_meta.blog_post_meta>ul li a {
    font-size: 12px;
}
.blog_area.blogpage_area .blog_dual_sidebars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: normal;
    -ms-flex-align: normal;
    align-items: normal;
}
.blog_area.blogpage_area .blog_dual_sidebars>* {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.blog_area.blogpage_area .blog_dual_sidebars .first_blog_column {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}
.blog_area.blogpage_area .blog_dual_sidebars .first_blog_column>.col-xs-12.col-sm-6 {
    padding: 0;
}
.blog_area.blogpage_area .blog_dual_sidebars .first_blog_column>.col-xs-12.col-sm-6:nth-child(2n) {
    padding-left: 10px;
}
.blog_area.blogpage_area .blog_dual_sidebars .first_blog_column>.col-xs-12.col-sm-6:nth-child(2n - 1) {
    padding-right: 10px;
}
.blog_area.blogpage_area .blog_dual_sidebars .first_blog_column>.col-xs-12.col-sm-6 .blog-post {
    margin-top: 0;
    margin-bottom: 40px;
}
.blog_area.blogpage_area .blog_dual_sidebars .first_blog_column>.col-xs-12.col-sm-6 .blog-post .blog_post_content {
    padding: 15px 10px;
}
.blog_area.blogpage_area .blog_dual_sidebars .first_blog_column>.col-xs-12.col-sm-6 .blog-post .blog_post_meta {
    padding: 10px;
    font-size: 12px;
}
.blog_area.blogpage_area .blog_dual_sidebars .first_blog_column>.col-xs-12.col-sm-6 .blog-post .blog_post_meta span {
    margin-top: 2px;
}
.blog_area.blogpage_area .blog_dual_sidebars .second_blog_column {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}
.blog_area.blogpage_area .blog_dual_sidebars .third_blog_column {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}
.blog_area.blogpage_area .blog_dual_sidebars .commentsBox .comment-respond .comment-form .comment-form-author,
.blog_area.blogpage_area .blog_dual_sidebars .commentsBox .comment-respond .comment-form .comment-form-email,
.blog_area.blogpage_area .blog_dual_sidebars .commentsBox .comment-respond .comment-form .comment-form-url {
    width: 100%;
}
/* 11.2 Blog Sidebar
------------------------*/
.widget {
    width: 100%;
    display: block;
    overflow: hidden;
    margin-top: 50px;
}
.widget:first-child {
    margin-top: 0;
}
.widget .widget_title {
    display: block;
    overflow: hidden;
    width: 100%;
    padding-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-weight: 500;
    text-transform: uppercase;
}
.widget ul {
    margin: 0;
    padding: 0;
}
.widget ul li {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    list-style: outside none none;
    padding-bottom: 6px;
    padding-top: 16px;
}
.widget ul li a {
    display: block;
    overflow: hidden;
    text-decoration: none;
}
.widget .single_recent_post {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: block;
    margin-bottom: 14px;
    overflow: hidden;
    width: 100%;
}
.widget .single_recent_post>a {
    float: left;
    max-height: 77px;
    max-width: 77px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.widget .single_recent_post .recent_post_detail h5 {
    font-size: 15px;
    font-weight: 400;
    margin: auto;
}
.widget .single_recent_post .recent_post_detail h5 a {
    text-decoration: none;
}
.widget .single_recent_post .recent_post_detail .recent_meta {
    margin: 0;
    font-size: 12px;
    font-weight: 300;
    margin-top: 6px;
    margin-bottom: 8px;
}
.widget .single_recent_post .recent_post_detail p {
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
}
.widget .tagcloud {
    width: 100%;
}
.widget .tagcloud a {
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    margin: 6px 1px;
    padding: 6px 12px;
    text-decoration: none;
}
.widget.widget_archive {
    padding-bottom: 16px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.widget.widget_archive .widget_title {
    margin-bottom: 26px;
}
.maheer_select button {
    border-radius: 0;
    height: 45px;
}
.maheer_select button .bs-caret {
    bottom: 0;
    display: block;
    height: 45px;
    overflow: hidden;
    position: absolute;
    right: -1px;
    top: -1px;
    width: 48px;
}
.maheer_select button .bs-caret .caret {
    right: 20px !important;
}
.maheer_select .dropdown-menu>li a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.single_maheer_tfb {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: block;
    margin-bottom: 14px;
    margin-top: 22px;
    overflow: hidden;
    width: 100%;
}
.TweetAuthor-avatar.Identity-avatar {
    display: none;
}
.Icon.Icon--verified::after {
    content: "/";
}
.TweetAuthor-link * {
    display: inline-block;
}
.u-hiddenVisually {
    display: none;
}
.TweetAuthor {
    display: inline-block;
    font-size: 12px;
}
.tweet-infos {
    font-size: 12px;
    margin-bottom: 14px;
    margin-top: 10px;
}
.TweetAuthor-link {
    display: inline-block;
}
.TweetAuthor-link:hover {
    text-decoration: none;
}
.tweet-content {
    font-size: 14px;
}
.commentsBox {
    margin-top: 50px;
}
.commentsBox .comments-title {
    font-weight: 500;
}
.commentsBox ol.comment-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    overflow: hidden;
}
.commentsBox ol.comment-list li.comment {
    margin-top: 40px;
    display: block;
    overflow: hidden;
    width: 100%;
}
.commentsBox ol.comment-list li.comment .comment-body {
    width: 100%;
}
.commentsBox ol.comment-list li.comment .comment-body .comment_image {
    width: 81px;
    height: 72px;
    float: left;
    display: block;
    overflow: hidden;
    margin-right: 20px;
}
.commentsBox ol.comment-list li.comment .comment-body .comment-wrapper {
    display: block;
    overflow: hidden;
    float: left;
    width: 88%;
    width: calc(100% - 101px);
}
.commentsBox ol.comment-list li.comment .comment-body .comment-wrapper .comment-user-name {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 1px;
}
.commentsBox ol.comment-list li.comment .comment-body .comment-wrapper .comment-metadata {
    display: block;
    overflow: hidden;
    margin-bottom: 8px;
}
.commentsBox ol.comment-list li.comment .comment-body .comment-wrapper .comment-metadata a {
    color: inherit;
    font-size: 12px;
}
.commentsBox ol.comment-list li.comment .comment-body .comment-wrapper .comment-content {
    width: 100%;
    display: block;
    overflow: hidden;
    margin-bottom: 0;
}
.commentsBox ol.comment-list li.comment .comment-body .comment-wrapper .comment-content p {
    margin-bottom: 6px;
}
.commentsBox ol.comment-list li.comment .comment-body .comment-wrapper .comment-reply-link {
    color: inherit;
    font-size: 13px;
    font-weight: 500;
}
.commentsBox ol.comment-list li.comment ol.children {
    display: block;
    overflow: hidden;
    width: 100%;
    margin-top: 40px;
    list-style: none;
    padding-left: 50px;
}
.commentsBox .comment-respond {
    display: block;
    margin-top: 110px;
    overflow: hidden;
    width: 100%;
}
.commentsBox .comment-respond .comment-reply-title {
    margin-bottom: 40px;
    display: block;
    overflow: hidden;
    width: 100%;
    font-weight: 500;
}
.commentsBox .comment-respond .comment-form {
    display: block;
    overflow: hidden;
    width: 100%;
}
.commentsBox .comment-respond .comment-form .comment-form-author,
.commentsBox .comment-respond .comment-form .comment-form-email,
.commentsBox .comment-respond .comment-form .comment-form-url {
    float: left;
    margin-bottom: 29px;
    width: 31%;
}
.commentsBox .comment-respond .comment-form .comment-form-author,
.commentsBox .comment-respond .comment-form .comment-form-email {
    margin-right: 29px;
}
.commentsBox .comment-respond .comment-form input.form-control {
    height: 36px;
}
.commentsBox .comment-respond .comment-form textarea.form-control {
    padding-top: 20px;
}
.commentsBox .comment-respond .comment-form .form-control {
    border-radius: 0;
    font-size: 12px;
}
.commentsBox .comment-respond .comment-form .form-submit .btn {
    position: static;
    width: auto;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 34px;
    border-radius: 0;
}
.commentsBox .comment-respond .comment-form .form-submit .btn:after {
    background-color: transparent;
}
.commentsBox .comment-respond .comment-form .form-submit .btn:hover:after {
    height: 100%;
}
/*============================================== 
    12. Srart Project Area
=================================================*/
.start_project_area h2 {
    margin: 0px;
}
.start_project_area .btn {
    padding: 10px 40px;
}
.contact_info_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: normal;
    -ms-flex-align: normal;
    align-items: normal;
    width: 100%;
    margin: 120px auto 80px;
}
.contact_info_box .contact_info {
    border-width: 1px;
    border-style: solid;
    padding: 30px;
    text-align: center;
    max-width: 340px;
    min-width: 260px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.contact_info_box .contact_info h5 {
    font-size: 16px;
    margin-bottom: 24px;
}
.contact_info_box .contact_info p,
.contact_info_box .contact_info a {
    color: inherit;
    font-weight: 300;
}
.contact_form_box .name_email {
    margin-bottom: 60px;
    display: block;
    overflow: hidden;
    width: 100%;
}
.contact_form_box .name_email input {
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-right: 80px;
    float: left;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: calc(50% - 40px);
    padding-left: 0;
}
.contact_form_box .name_email input:last-child {
    margin-right: 0;
}
.contact_form_box .name_email input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    opacity: 1;
    font-weight: 300;
}
.contact_form_box .name_email input::-moz-placeholder {
    /* Firefox 19+ */
    opacity: 1;
    font-weight: 300;
}
.contact_form_box .name_email input:-ms-input-placeholder {
    /* IE 10+ */
    opacity: 1;
    font-weight: 300;
}
.contact_form_box .name_email input:-moz-placeholder {
    /* Firefox 18- */
    opacity: 1;
    font-weight: 300;
}
.contact_form_box label {
    font-weight: 300;
    opacity: .8;
}
.contact_form_box textarea {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.contact_form_box textarea:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.contact_form_box .btn {
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 30px;
    display: inherit;
}
/*============================================== 
    13. Footer
=================================================*/
.footer_area {
    padding: 26px 0;
    display: block;
    width: 100%;
    overflow: hidden;
}
.footer_area .copyright_text {
    font-weight: 300;
    font-size: 13px;
    line-height: 3.8;
    display: block;
    overflow: hidden;
    width: 100%;
}
.footer_social_box {
    margin: 0;
    padding: 0;
    line-height: 0;
}
.footer_social_box li {
    display: inline-block;
    list-style: none;
    overflow: hidden;
    min-height: 26px;
    max-height: 26px;
    min-width: 26px;
    max-width: 26px;
    line-height: 26px;
    margin: 10px;
    text-align: center;
    font-weight: 300;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    background-color: transparent;
}
.footer_social_box li a {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-weight: 300;
    line-height: 26px;
}
.scrollup {
    display: none;
    border: 1px solid;
    border-radius: 4px;
    bottom: 30px;
    font-size: 26px;
    height: 40px;
    min-height: 40px;
    min-width: 40px;
    position: fixed;
    right: 60px;
    text-align: center;
    width: 40px;
    cursor: pointer;
    z-index: 1111;
}
/*===================
14. Page Loader
===================*/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
}
#loader-wrapper .cont {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    /* half of #content height*/
    left: 50%;
    margin-left: -50px;
    width: 105px;
    height: 105px;
}
#loader-wrapper .square {
    width: 100px;
    height: 5px;
    -webkit-animation: desno 1s infinite;
    animation: desno 1s infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#loader-wrapper .square2 {
    width: 5px;
    height: 100px;
    opacity: 0;
    -webkit-animation: desno2 1s infinite;
    animation: desno2 1s infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#loader-wrapper .square3 {
    width: 100px;
    height: 5px;
    margin-top: 100px;
    opacity: 0;
    -webkit-animation: desno3 1s infinite;
    animation: desno3 1s infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#loader-wrapper .square4 {
    width: 5px;
    height: 100px;
    margin-left: 100px;
    margin-top: 0px;
    opacity: 0;
    -webkit-animation: desno3 1s infinite;
    animation: desno3 1s infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#loader-wrapper .line {
    border-radius: 2px;
    position: absolute;
}
#loader-wrapper .stop_loading {
    position: absolute;
    right: 40px;
    top: 40px;
    font-size: 30px;
    padding: 10px 0;
    line-height: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
}
.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: translateY(-100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}
.no-js #loader-wrapper {
    display: none;
}
/*============================
  15. Custom Animation
=============================*/
@-webkit-keyframes desno {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    80% {
        -webkit-transform: rotate(95deg);
        transform: rotate(95deg);
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left;
    }
    99.99% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left;
        opacity: 0;
    }
}
@keyframes desno {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    80% {
        -webkit-transform: rotate(95deg);
        transform: rotate(95deg);
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left;
    }
    99.99% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left;
        opacity: 0;
    }
}
@-webkit-keyframes desno2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: rotate(95deg);
        transform: rotate(95deg);
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left;
    }
    99.99% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left;
        opacity: 0;
    }
}
@keyframes desno2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: rotate(95deg);
        transform: rotate(95deg);
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left;
    }
    99.99% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left;
        opacity: 0;
    }
}
@-webkit-keyframes desno3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: rotate(95deg);
        transform: rotate(95deg);
        -webkit-transform-origin: top right;
        transform-origin: top right;
    }
    99.99% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: top right;
        transform-origin: top right;
        opacity: 0;
    }
}
@keyframes desno3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: rotate(95deg);
        transform: rotate(95deg);
        -webkit-transform-origin: top right;
        transform-origin: top right;
    }
    99.99% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: top right;
        transform-origin: top right;
        opacity: 0;
    }
}
@-webkit-keyframes desno4 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    80% {
        -webkit-transform: rotate(95deg);
        transform: rotate(95deg);
        -webkit-transform-origin: top right;
        transform-origin: top right;
    }
    99.99% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: top right;
        transform-origin: top right;
        opacity: 0;
        -webkit-animation: desno 0.5s;
        animation: desno 0.5s;
    }
}
@keyframes desno4 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    80% {
        -webkit-transform: rotate(95deg);
        transform: rotate(95deg);
        -webkit-transform-origin: top right;
        transform-origin: top right;
    }
    99.99% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: top right;
        transform-origin: top right;
        opacity: 0;
        -webkit-animation: desno 0.5s;
        animation: desno 0.5s;
    }
}
.mfp-zoom-in .mfp-with-anim {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}
/*=============================
    16. Responsive Stylesheet
  =============================*/
/*** For Small Desktop ***/
@media only screen and (max-width: 1199px) {
    .about_us_area .col-xs-12.col-sm-6.col-sm-offset-1 {
        margin-left: 0;
        width: calc(50% + 8.33333%);
    }
    .my_experience_boxes .my_experience {
        min-width: 300px;
    }
}
/*** For 1024px or less resolution display devices ***/
@media only screen and (max-width: 1025px) {
    .slider_area .home_slider .slingle_home_slider .slider_area_inner {
        padding-top: 30%;
    }
    .slider_area .home_slider .slingle_home_slider .slider_area_inner h1 {
        font-size: 44px;
    }
    .slider_area .owl-nav {
        pointer-events: none;
    }
    .slider_area .owl-nav>div {
        pointer-events: auto;
    }
    .slider_area .nivo-slider-wrapper .nivo-caption h2 {
        font-size: 20px;
        margin-bottom: 0;
    }
    .slider_area .nivo-slider-wrapper .nivo-caption h1 {
        font-size: 40px;
        margin-bottom: 1%;
        margin-top: 1%;
    }
    .slider_area .nivo-slider-wrapper .nivo-caption p {
        margin-bottom: 1%;
    }
}
/*** For 980px or less resolution display devices ***/
@media only screen and (max-width: 991px) {
    .slider_area .hero_image_section .slingle_normal_home_slider .slider_area_inner h1,
    .slider_area .home_slider_normal .slingle_normal_home_slider .slider_area_inner h1 {
        font-size: 40px;
    }
    .slider_area .hero_image_section .slingle_normal_home_slider .slider_area_inner,
    .slider_area .home_slider_normal .slingle_normal_home_slider .slider_area_inner {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .commentsBox .comment-respond .comment-form .comment-form-author,
    .commentsBox .comment-respond .comment-form .comment-form-email {
        margin-right: 18px;
    }
    .widget .tagcloud a {
        font-size: inherit;
        margin: 4px;
        padding: 4px;
    }
    .site-header .navbar ul.navbar-nav li a {
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .about_us_area .about_personal_info ul {
        width: 100%;
    }
    .about_us_area .col-xs-12.col-sm-6.col-sm-offset-1,
    .about_us_area .col-xs-12.col-sm-5 {
        width: 50%;
    }
    .my_experience_boxes .my_experience {
        width: 50%;
    }
    .services_boxes .my_service {
        width: 50%;
    }
    .blog-post .blog_post_content {
        padding: 10px;
    }
    .blog-post .blog_post_meta {
        padding: 10px;
    }
    .blog-post .blog_post_meta .meta_author,
    .blog-post .blog_post_meta .meta_date {
        font-size: 9px;
        margin-top: 5px;
    }
    .blog-post .blog_post_content h4 {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .blog-post .blog_post_content p {
        font-size: 12px;
    }
    .contact_info_box .contact_info {
        min-width: 30%;
        padding: 8px;
        width: 30%;
    }
    .services_area.skill_area .col-xs-12.col-sm-5,
    .services_area.skill_area .col-xs-12.col-sm-7 {
        width: 100%;
    }
    .about_me_feature_area .about_me_text h1 {
        font-size: 36px;
    }
    .slider_area.about_me_feature_area.parallax_bg.partical_box .about_me_text h1 {
        font-size: 60px;
    }
}
/*** For 800px or less resolution display devices ***/
@media only screen and (max-width: 800px) {
    .portfolio_filter li {
        margin: 0 4px;
        padding: 10px 2px;
    }
    .portfolio_items .portfolio_tile .portfolio_overlay::before {
        left: 1em;
        right: 1em;
    }
    .portfolio_items .portfolio_tile .portfolio_overlay::after {
        bottom: 1em;
        top: 1em;
    }
    .portfolio_items .portfolio_tile .portfolio_overlay {
        padding: 22px;
    }
    .portfolio_items .portfolio_tile .portfolio_overlay .project_name {
        bottom: 20px;
        left: 24px;
    }
}
/*** For 768px or less resolution display devices ***/
@media only screen and (max-width: 770px) {
    .slider_area .home_slider .slingle_home_slider .slider_area_inner {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        height: 100%;
        padding-top: 0;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
    }
    .slider_area .home_slider .slingle_home_slider .slider_area_inner h1 {
        font-size: 36px;
    }
    .slider_area .home_slider .slingle_home_slider .slider_area_inner h2 {
        font-size: 20px;
    }
    .slider_area .home_slider .slingle_home_slider .slider_area_inner p {
        font-size: 14px;
    }
    .slider_area .home_slider_normal.small_hader_slider_text .slingle_normal_home_slider .slider_area_inner {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        height: 100%;
        padding: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        -ms-flex-line-pack: center;
        align-content: center;
    }
    .slider_area .slingle_normal_home_slider>img {
        height: auto;
        max-width: none;
        width: 150%;
    }
    .slider_area .hero_image_section,
    .slider_area .home_slider_normal {
        max-width: none;
    }
}
/*** For 767px or less resolution display devices ***/
@media only screen and (max-width: 767px) {
    .slider_area .hero_image_section .slingle_normal_home_slider .slider_area_inner h1,
    .slider_area .home_slider_normal .slingle_normal_home_slider .slider_area_inner h1 {
        font-size: 30px;
    }
    .slider_area .hero_image_section .slingle_normal_home_slider .slider_area_inner h2,
    .slider_area .home_slider_normal .slingle_normal_home_slider .slider_area_inner h2 {
        font-size: 20px;
    }
    .slider_area .hero_image_section .slingle_normal_home_slider .slider_area_inner p,
    .slider_area .home_slider_normal .slingle_normal_home_slider .slider_area_inner p {
        font-size: 14px;
    }
    .slider_area .nivo-slider-wrapper .nivo-caption h2 {
        font-size: 20px;
    }
    .slider_area .nivo-slider-wrapper .nivo-caption h1 {
        font-size: 30px;
    }
    .slider_area .nivo-slider-wrapper .nivo-caption p {
        font-size: 14px;
    }
    .commentsBox .comment-respond .comment-form .comment-form-author,
    .commentsBox .comment-respond .comment-form .comment-form-email,
    .commentsBox .comment-respond .comment-form .comment-form-url {
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .site-header .navbar .navbar-header a.navbar-brand {
        padding-left: 15px;
    }
    .navbar-toggle .menu_text {
        display: none;
    }
    .site-header.navbar-fixed-top.affix-top {
        padding-bottom: 40px;
        padding-top: 40px;
    }
    .navbar-collapse .nav.navbar-nav {
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .site-header .navbar-header {
        padding-bottom: 16px;
    }
    .site-header.affix .navbar-header {
        padding-bottom: 2px;
    }
    .site-header .navbar ul.navbar-nav li a::after {
        display: none;
    }
    .white_header_text.site-header .navbar .navbar-toggle {
        border-color: #fff;
    }
    .white_header_text.site-header .navbar .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .white_header_text.site-header.affix .navbar .navbar-toggle {
        border-color: #222222;
    }
    .white_header_text.site-header.affix .navbar .navbar-toggle .icon-bar {
        background-color: #222222;
    }
    .site-header .navbar ul.navbar-nav li.active a,
    .site-header .navbar ul.navbar-nav li:hover a {
        background-color: #222222;
        color: #fff;
        -webkit-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s;
    }
    .white_header_text.site-header.affix .navbar ul.navbar-nav li.active a,
    .white_header_text.site-header.affix .navbar ul.navbar-nav li:hover a {
        color: #fff;
    }
    .white_header_text.site-header .navbar ul.navbar-nav li a {
        color: #222222;
    }
    .blog-post {
        margin-left: auto;
        margin-right: auto;
        max-width: 520px;
    }
    .blog-post .blog_post_content {
        padding: 25px;
    }
    .blog-post .blog_post_meta {
        padding: 12px 25px;
    }
    .blog-post .blog_post_meta .meta_author,
    .blog-post .blog_post_meta .meta_date {
        font-size: 14px;
        margin: auto;
    }
    .blog-post .blog_post_content h4 {
        font-size: 18px;
    }
    .blog-post .blog_post_content p {
        font-size: 14px;
    }
    .footer_area {
        padding-bottom: 20px;
        text-align: center;
    }
    .footer_social_box {
        text-align: center;
    }
    header.site-header.navbar-fixed-top.affix {
        padding-bottom: 10px;
    }
    .navbar-collapse {
        background-color: #fff;
    }
    .about_me_feature_area .about_me_text h1 {
        font-size: 28px;
    }
    .about_me_feature_area .about_me_text h3 {
        font-size: 18px;
    }
    .about_me_feature_area .about_me_text p {
        font-size: 14px;
    }
    section {
        padding: 60px 0;
    }
    .skill_area .skill_bar_inner_box .skill_bars:nth-last-child(-n+3) .bar {
        margin-bottom: 10px;
    }
    .slider_area.about_me_feature_area.parallax_bg .about_me_text h3 {
        font-size: 24px;
    }
    .slider_area.about_me_feature_area.parallax_bg .about_me_text h1 {
        font-size: 46px;
    }
    .slider_area.about_me_feature_area.parallax_bg .about_me_text p {
        font-size: 16px;
    }
    .blog_area.blogpage_area .blog_dual_sidebars {
        display: block;
        overflow: hidden;
    }
    .blog_area.blogpage_area .blog_dual_sidebars .second_blog_column {
        margin-bottom: 40px;
    }
}
/*** For 640px or less resolution display devices ***/
@media only screen and (max-width: 641px) {
    .slider_area .hero_image_section .slingle_normal_home_slider .slider_area_inner p,
    .slider_area .home_slider_normal .slingle_normal_home_slider .slider_area_inner p br,
    .slider_area .nivo-slider-wrapper .nivo-caption p {
        display: none;
    }
    .about_us_area .about_content_btn_area .btn {
        margin-right: 4px;
    }
}
/*** For 569px or less resolution display devices ***/
@media only screen and (max-width: 569px) {
    .slingle_normal_home_slider>img {
        height: auto;
        max-width: none;
        width: 130% !important;
    }
    .slider_area .nivo-slider-wrapper .nivo-caption p {
        display: none;
    }
    .slider_area .nivo-slider-wrapper .nivo-caption a.btn {
        display: none;
    }
    .my_experience_boxes .my_experience {
        min-width: 200px;
        margin-top: 30px;
        width: 100%;
        text-align: center;
    }
    .about_us_area .col-xs-12.col-sm-6.col-sm-offset-1,
    .about_us_area .col-xs-12.col-sm-5 {
        width: 100%;
    }
    .about_us_area .about_personal_info {
        padding-top: 40px;
    }
    .skill_area .skill_bar_inner_box .skill_bars {
        width: 48%;
    }
    .portfolio_items .portfolio_tile {
        width: calc(50% - 20px);
    }
    .contact_info_box .contact_info {
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        width: 100%;
    }
    .about_me_feature_area .about_me_text h1 {
        font-size: 26px;
    }
    .about_me_feature_area .about_me_text h3 {
        font-size: 18px;
    }
    .about_me_feature_area .about_me_text p {
        font-size: 14px;
    }
    .contact_form_box .name_email input {
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .contact_form_box .name_email {
        margin-bottom: 0;
    }
    .slider_area.about_me_feature_area.parallax_bg.partical_box .about_me_text h1 {
        font-size: 48px;
    }
    .services_boxes .my_service {
        margin-top: 30px;
        width: 100%;
    }
    .slider_area .nivo-slider-wrapper .nivo-caption {
        padding-top: 120px;
    }
    .slider_area .nivo-slider-wrapper .nivo-directionNav a {
        z-index: 11111;
    }
    .nivoSlider {
        height: 300px;
    }
    .nivoSlider img {
        height: 100%;
        width: auto !important;
    }
}
/*** For 414px or less resolution display devices ***/
@media only screen and (max-width: 480px) {
    .about_me_feature_area>.container>.row>* {
        width: 100%;
    }
    .about_me_feature_area>.container>.row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    .about_me_feature_area>.container>.row>.col-xs-12.col-sm-6 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        padding-bottom: 30px;
        padding-top: 10px;
    }
    .about_me_feature_area>.container>.row>.col-xs-12.col-sm-5.col-sm-offset-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .about_me_feature_area .about_me_text h1 {
        font-size: 30px;
    }
    .about_me_feature_area .about_me_text h3 {
        font-size: 20px;
    }
    .about_me_feature_area .about_me_text p {
        font-size: 14px;
    }
    .slider_area.about_me_feature_area.parallax_bg .about_me_text h3 {
        font-size: 20px;
    }
    .slider_area.about_me_feature_area.parallax_bg .about_me_text h1 {
        font-size: 36px;
    }
    .slider_area.about_me_feature_area.parallax_bg .about_me_text p {
        font-size: 14px;
    }
    .slider_area.about_me_feature_area.parallax_bg.partical_box .about_me_text h1 {
        font-size: 40px;
    }
}
/*** For 414px or less resolution display devices ***/
@media only screen and (max-width: 418px) {
    .slider_area .home_slider .slingle_home_slider .slider_area_inner h1 {
        font-size: 24px;
    }
    .slider_area .home_slider .slingle_home_slider .slider_area_inner h2 {
        font-size: 16px;
    }
    .slider_area .home_slider .slingle_home_slider .slider_area_inner p {
        font-size: 12px;
    }
    .slider_area .hero_image_section .slingle_normal_home_slider .slider_area_inner h1,
    .slider_area .home_slider_normal .slingle_normal_home_slider .slider_area_inner h1 {
        font-size: 24px;
    }
    .slider_area .hero_image_section .slingle_normal_home_slider .slider_area_inner h2,
    .slider_area .home_slider_normal .slingle_normal_home_slider .slider_area_inner h2 {
        font-size: 16px;
    }
    .slider_area .hero_image_section .slingle_normal_home_slider .slider_area_inner p,
    .slider_area .home_slider_normal .slingle_normal_home_slider .slider_area_inner p {
        font-size: 12px;
        display: none;
    }
    .slingle_normal_home_slider>img {
        width: 150% !important;
    }
    .slider_area .hero_image_section .owl-controls .owl-nav,
    .slider_area .home_slider_normal .owl-controls .owl-nav {
        display: none;
    }
    .slider_area .owl-controls .owl-nav {
        display: none;
    }
    .header_video_player.slider_area .hero_image_section .slingle_normal_home_slider .slider_area_inner p {
        display: block;
    }
    .slider_area .slingle_normal_home_slider.parallax_bg .slider_area_inner p {
        display: block;
    }
    .slider_area .nivo-slider-wrapper .nivo-caption h1 {
        font-size: 20px;
    }
    .nivo-controlNav {
        padding: 0;
    }
    .nivo-directionNav {
        display: none;
    }
    .skill_area .skill_bar_inner_box .skill_bars {
        width: 100%;
    }
    .portfolio_items .portfolio_tile {
        width: calc(100% - 20px);
    }
    .start_project_area h2 {
        font-size: 24px;
    }
    .services_area.skill_area .skill_bar_inner_box .skill_bars {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .slider_area.about_me_feature_area.parallax_bg .about_me_text h1 {
        font-size: 30px;
    }
    .slider_area.about_me_feature_area.parallax_bg.partical_box .about_me_text h1 {
        font-size: 30px;
    }
}